#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*general body styling */
body {
  background-color: #45058d;
  font-family: Helvetica, Arial, sans-serif
}

/*visual styling for tour cards */
.tour-card {
border-style: double;
border-radius: 40px;
border-width: 10px;
border-color: #CBC3E3;
padding: 3rem;
margin-bottom: 40px;
}

/*styling for tour card images*/
.tour-image {
  border-style: solid;
  border-color: #CBC3E3;
  border-width: 5px;
  border-radius: 30px;
}

/*styling for the "not interested" button */
.remove-tour {
  background-color: #8e1600; 
  margin-left: 40px;
}

/*slight spacing adjustment to the "read more" button */
.read-more {
  margin-left: 5px;
}
